NET "btns_state[0]" LOC = "M18" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "btns_state[1]" LOC = "L18" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "btns_state[2]" LOC = "M16" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "btns_state[3]" LOC = "L17" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "btns_state[4]" LOC = "K17" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "btns_state[5]" LOC = "K18" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "btns_state[6]" LOC = "C17" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "btns_state[7]" LOC = "C18" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "clk" LOC = "V10" | IOSTANDARD = LVCMOS33 | PERIOD = 100MHz;
NET "reset" LOC = "F17" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "invOp" LOC = "P16" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "blue[0]" LOC = "B11" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "blue[1]" LOC = "A11" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "invPC" LOC = "P15" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "invAddr" LOC = "N15" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "hsync" LOC = "B12" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "err" LOC = "N16" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "vsync" LOC = "A12" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "red[0]" LOC = "A9" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "red[1]" LOC = "B9" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "red[2]" LOC = "C9" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "green[0]" LOC = "C10" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "green[1]" LOC = "A10" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "green[2]" LOC = "C11" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
